.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* popup box */
.modal-box {
    top: 40%;
    opacity: 0;
    width: 480px;
    padding: 18px 10px;
    border-radius: 5px;
    visibility: hidden;
    background: white;
    height: auto;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
}


.modal-box.show-modal {
    top: 50%;
    opacity: 1;
    visibility: visible;
    transition: .4s;
}

/* cancle button */
.modal-box .fa-times {
    position: absolute;
    top: 0;
    right: 0;
    background: #0569d4;
    font-size: 18px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 10px;
    color: white;
}

.fa-times:hover {
    font-size: 22px;
}

/* design the form */
.form_container {
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    border-radius: 3px;
}

    .form_container .form_item {
        margin-bottom: 25px;
    }

    .form_container .form_wrap.form_grp {
        display: flex;
    }

        .form_container .form_wrap.form_grp .form_item {
            width: 50%;
        }

            .form_container .form_wrap.form_grp .form_item:first-child {
                margin-right: 4%;
            }

    .form_container .form_item label {
        display: block;
        margin-bottom: 5px;
    }
    /* input box and select box */
    .form_container .form_item input,
    .form_container .form_item select {
        width: 100%;
        border: 1px solid #dadce0;
        border-radius: 3px;
        padding: 10px;
        font-size: 16px;
    }
    /* submit button */
    .form_container .btn input[type="submit"] {
        background: #6271f0;
        cursor: pointer;
        color: #fff;
        border: 1px solid #6271f0;
        padding: 10px;
        width: 100%;
        border-radius: 3px;
    }
